*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
staffIOSApp/staffIOSApp.xcworkspace/*
staffIOSApp/staffIOSApp.xcodeproj/*
!staffIOSApp/staffIOSApp.xcodeproj/project.pbxproj
dealerIOSApp/dealerIOSApp.xcworkspace/*
dealerIOSApp/dealerIOSApp.xcodeproj/*
!dealerIOSApp/dealerIOSApp.xcodeproj/project.pbxproj
cdoIOSApp/cdoIOSApp.xcworkspace/*
cdoIOSApp/cdoIOSApp.xcodeproj/*
!cdoIOSApp/cdoIOSApp.xcodeproj/project.pbxproj
